h1 {
    color:lightblue;
    background-color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px;    

}
h2 {
    color:lightcoral;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 70px;
    text-align:right;
    letter-spacing: 1px;
    
    
}

body {

background-image: url(OIP.jpg);
background-repeat:no-repeat;
background-size: 500px;
padding-right: 25%;
padding-bottom: 25%;
}

h3{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size: 30px;
    text-align: center;
    padding-top: 20%;

}


.pp {
    font-size:large;
    font-weight: bold;
   
    border: 5px solid red;
       
}

.hp {
    font-size:large;
    font-weight: bold;
    
    border: 5px solid red;
    
    
}